n8n/workflows/CheckPerguntas.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coleta-resposta",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2b870e63-7100-433b-8e94-00a20bbd5dd8",
      "name": "Webhook - ColetaResposta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "webhookId": "111fc661-ba10-483f-839b-c2714a611b05"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Value",
        "key": "={{ \"chat:\"+$json.body.email }}",
        "keyType": "string",
        "options": {}
      },
      "id": "641d706b-2b26-4de6-8548-37c5e66ebbdf",
      "name": "Redis Get Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "credentials": {
        "redis": {
          "id": "M3DtzNe7LLLXzOoq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.Value || null;\nlet session;\n\nif (!raw) {\n  session = {\n    messages: [],\n    collected_data: {}\n  };\n} else {\n  try {\n    const parsed = typeof raw === \"string\" ? JSON.parse(raw) : raw;\n    \n    if (parsed && typeof parsed === \"object\" && !Array.isArray(parsed)) {\n      session = {\n        messages: Array.isArray(parsed.messages) ? parsed.messages : [],\n        collected_data: (parsed.collected_data && typeof parsed.collected_data === \"object\" && !Array.isArray(parsed.collected_data)) ? parsed.collected_data : {}\n      };\n    } else {\n      session = {\n        messages: [],\n        collected_data: {}\n      };\n    }\n  } catch (e) {\n    session = {\n      messages: [],\n      collected_data: {}\n    };\n  }\n}\n\nreturn session;"
      },
      "id": "b1e2f141-bf0a-450c-8ea7-080eff73cc1b",
      "name": "Inicializa Sessão se não existir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pega a sessão do nó anterior\nconst messages = $json.messages || [];\nlet collected_data = $json.collected_data || {};\n\n// Resposta do usuário\nconst resposta = $('Webhook - ColetaResposta').first().json.body.message;\n\n// Perguntas\nconst perguntas = [\n  { key: \"nome_empresa\", texto: \"Qual é o nome da empresa?\" },\n  { key: \"setor\", texto: \"Qual é o setor da empresa?\" },\n  { key: \"tamanho\", texto: \"Qual é o tamanho da empresa?\" },\n  { key: \"problema_atual\", texto: \"Qual é o problema atual que a empresa enfrenta?\" },\n  { key: \"resultado_esperado\", texto: \"Qual é o resultado que você espera alcançar?\" }\n];\n\n// Conta quantas perguntas o bot já fez\nconst perguntasFeitas = messages.filter(m => \n  m.sender === \"bot\" && \n  perguntas.some(p => p.texto === m.content)\n).length;\n\n// Só salva resposta se o bot já fez pelo menos uma pergunta\nif (perguntasFeitas > 0) {\n  const respostasColetadas = Object.keys(collected_data).length;\n  const currentKey = perguntas[respostasColetadas]?.key;\n  \n  if (currentKey) {\n    Object.assign(collected_data, { [currentKey]: resposta });\n  }\n}\n\n// Adiciona a mensagem ao histórico\nmessages.push({\n  id: String(messages.length + 1),\n  sender: \"user\",\n  content: resposta,\n  timestamp: new Date().toISOString()\n});\n\nreturn { messages: messages, collected_data: collected_data };"
      },
      "id": "0f462976-2d5b-49ff-90ab-bfc7e590b751",
      "name": "Atualiza com a nova resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"chat:\" + $('Webhook - ColetaResposta').item.json.body.email }}",
        "value": "={{ JSON.stringify({ messages: $json.messages, collected_data: $json.collected_data }) }}",
        "expire": true,
        "ttl": 36000000
      },
      "id": "2eeb58dc-2d29-43d1-921b-fed29ec197b9",
      "name": "Redis Set Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ],
      "credentials": {
        "redis": {
          "id": "M3DtzNe7LLLXzOoq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CGBxaagNJvEIpt9n",
          "mode": "list",
          "cachedResultUrl": "/workflow/CGBxaagNJvEIpt9n",
          "cachedResultName": "ProxPergunta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messages": "={{ $json.messages }}",
            "email": "={{ $('Webhook - ColetaResposta').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "collected_data",
              "displayName": "collected_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "67fdfb37-e239-46a2-ab14-d32a36a99002",
      "name": "Call 'ProxPergunta'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1632,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "nextKey",
              "value": "={{ $json.nextKey }}"
            },
            {
              "name": "nextQuestion",
              "value": "={{ $json.nextQuestion }}"
            },
            {
              "name": "finished",
              "value": "={{ $json.finished }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2799975-617c-4173-ad7d-80c58aabea9a",
      "name": "Resposta Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2480,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ messages: $('Atualiza com a nova resposta').first().json.messages, finished: $('Call \\'ProxPergunta\\'').first().json.finished }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2288,
        0
      ],
      "id": "3468d0bb-9c38-4ad8-a02e-7cf13cc6a95b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ \"chat:\" + $('Webhook - ColetaResposta').item.json.body.email }}",
        "value": "={{ JSON.stringify({ messages: $('Atualiza com a nova resposta').first().json.messages, collected_data: $('Atualiza com a nova resposta').first().json.collected_data }) }}",
        "expire": true,
        "ttl": 36000000
      },
      "id": "f7a8fa15-745f-42ee-9027-8eb549fd10d8",
      "name": "Redis Set Session1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "credentials": {
        "redis": {
          "id": "M3DtzNe7LLLXzOoq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messages = $('Redis Set Session').first().json.messages || [];\nconst collected_data = $('Redis Set Session').first().json.collected_data || {};\n\n// Adiciona a mensagem do bot\nmessages.push({\n  id: String(messages.length + 1),\n  sender: \"bot\",\n  content: $input.first().json.nextQuestion,\n  timestamp: new Date().toISOString()\n});\n\nreturn [{ json: { messages: messages, collected_data: collected_data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        0
      ],
      "id": "acb96467-fcb8-488c-9174-daf6ad55cabd",
      "name": "AtualizaRedisPergunta"
    }
  ],
  "connections": {
    "Webhook - ColetaResposta": {
      "main": [
        [
          {
            "node": "Redis Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get Session": {
      "main": [
        [
          {
            "node": "Inicializa Sessão se não existir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializa Sessão se não existir": {
      "main": [
        [
          {
            "node": "Atualiza com a nova resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza com a nova resposta": {
      "main": [
        [
          {
            "node": "Redis Set Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set Session": {
      "main": [
        [
          {
            "node": "Call 'ProxPergunta'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ProxPergunta'": {
      "main": [
        [
          {
            "node": "AtualizaRedisPergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set Session1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaRedisPergunta": {
      "main": [
        [
          {
            "node": "Redis Set Session1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81ba944ac1e7c5de6f553e387cbe193e89cfad3c1e08428a664aa51a90567403"
  }
}