n8n/workflows/documentosFlow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-documentos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d73533ae-cb4b-48c5-9d8f-bd009d5eeab8",
      "name": "Webhook",
      "webhookId": "c2f2f849-2604-4baa-b3ce-acf0b837008e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fa2ee1b-6984-404b-b5f5-54622491aca7",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "e2ff7e36-54e8-46c5-9e8c-a235eac3558a",
              "name": "dados_coletados",
              "value": "={{ $json.body.dados_coletados }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "da0ea90f-556b-41fc-886a-09627627bfc0",
      "name": "Organizar Dados Recebidos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sessionId }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Você é um consultor de negócios sênior da Avanade, especialista em redigir Business Cases. Sua resposta deve ser sempre em um formato JSON estruturado, conforme solicitado."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=const dados = $json.dados_coletados;\n\n// --- PREMISSAS DE SALÁRIOS E CÁLCULOS ---\nconst SALARIO_GERENTE = 13000.00;\nconst SALARIO_CONSULTOR = 8000.00;\nconst HORAS_MENSAIS = 160;\n\nconst horaGerente = SALARIO_GERENTE / HORAS_MENSAIS;\nconst horaConsultor = SALARIO_CONSULTOR / HORAS_MENSAIS;\n\n// Blueprint (AS-IS): 20h Gerente + 40h Consultor\nconst horasTotaisAtual = 60;\nconst custoAtual = (20 * horaGerente) + (40 * horaConsultor);\n\n// Cenário Futuro (TO-BE): 90% de redução\nconst horasFuturas = horasTotaisAtual * 0.10;\nconst custoFuturo = custoAtual * 0.10;\n\nconst economiaReais = custoAtual - custoFuturo;\nconst economiaHoras = horasTotaisAtual - horasFuturas;\n\n// Estimativas de Projeto (Implementação)\nconst esforcoEstimadoSemanas = 4; // Exemplo fixo para complexidade Média\nconst custoProjetoEstimado = 25000.00; // Exemplo de custo de setup\n\nreturn `\nAtue como um Arquiteto de Soluções da Avanade.\nSua tarefa é gerar TODOS os dados para preencher um Business Case (PPT e Word) automaticamente.\n\n--- DADOS DO CLIENTE ---\nEmpresa: ${dados.nome_empresa}\nProblema: ${dados.problema_atual}\nObjetivo: ${dados.resultado_esperado}\nDetalhes: ${dados.complementary_answer || 'N/A'}\n\n--- CÁLCULOS REALIZADOS ---\n- Economia Financeira: R$ ${economiaReais.toFixed(2)}\n- Horas Salvas: ${economiaHoras}h\n- Custo Projeto (Estimado): R$ ${custoProjetoEstimado.toFixed(2)}\n\n--- INSTRUÇÕES DE PREENCHIMENTO ---\n1. Gere textos profissionais para o Sumário e Análise.\n2. Preencha os campos técnicos do PPT (Tecnologias, Riscos).\n3. Defina os checkboxes usando \"☑\" para marcado e \"☐\" para desmarcado.\n   - Marque \"Automação\" como solução proposta.\n   - Defina a complexidade como \"M\" (Média).\n\nRETORNE APENAS O JSON COM ESTA ESTRUTURA EXATA:\n{\n  \"sumario_executivo\": \"Texto persuasivo de 2 parágrafos sobre o problema e a solução...\",\n  \"analise_numerica\": \"Texto focado no ROI, citando a economia de R$ ${economiaReais.toFixed(2)} e ganho de ${economiaHoras} horas...\",\n  \"solucao_tecnica\": \"Descrição técnica da solução Microsoft (Azure/Power Platform)...\",\n  \n  // Campos Específicos do PPT\n  \"nome_processo\": \"${dados.nome_empresa} - Otimização de Processos\",\n  \"descricao_processo\": \"${dados.problema_atual}\",\n  \"tecnologias_propostas\": \"Power Automate, Azure OpenAI, SharePoint\",\n  \"comentarios_adicionais\": \"O processo atual depende de planilhas manuais e e-mail, gerando alto risco operacional.\",\n  \"riscos_mapeados\": \"Resistência à mudança, Integração com sistemas legados.\",\n  \n  // Métricas\n  \"horas_beneficio\": \"~${economiaHoras}h/ano\",\n  \"dinheiro_beneficio\": \"~R$ ${Math.round(economiaReais)}\",\n  \"esforco_semanas\": \"${esforcoEstimadoSemanas} Semanas\",\n  \"custo_projeto\": \"R$ ${custoProjetoEstimado.toLocaleString('pt-BR')}\",\n  \n  // Checkboxes (Copie os caracteres exatos)\n  \"check_automacao\": \"☑\",\n  \"check_processo\": \"☐\",\n  \"check_governanca\": \"☐\",\n  \"check_pp\": \"☐\",\n  \"check_p\": \"☐\",\n  \"check_m\": \"☑\",\n  \"check_g\": \"☐\"\n}\n`;"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ],
      "id": "3251428a-5f77-4e83-a037-2d589b14d92e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        176
      ],
      "id": "824fcabf-42ef-4afa-80d4-2ccfcae28000",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rM1T2DRR8R5bKt7j",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sumario_executivo\": { \"type\": \"string\" },\n    \"analise_numerica\": { \"type\": \"string\" },\n    \"solucao_tecnica\": { \"type\": \"string\" },\n    \"nome_processo\": { \"type\": \"string\" },\n    \"descricao_processo\": { \"type\": \"string\" },\n    \"tecnologias_propostas\": { \"type\": \"string\" },\n    \"comentarios_adicionais\": { \"type\": \"string\" },\n    \"riscos_mapeados\": { \"type\": \"string\" },\n    \"horas_beneficio\": { \"type\": \"string\" },\n    \"dinheiro_beneficio\": { \"type\": \"string\" },\n    \"esforco_semanas\": { \"type\": \"string\" },\n    \"custo_projeto\": { \"type\": \"string\" },\n    \"check_automacao\": { \"type\": \"string\" },\n    \"check_processo\": { \"type\": \"string\" },\n    \"check_governanca\": { \"type\": \"string\" },\n    \"check_pp\": { \"type\": \"string\" },\n    \"check_p\": { \"type\": \"string\" },\n    \"check_m\": { \"type\": \"string\" },\n    \"check_g\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        176
      ],
      "id": "ef8ad0f0-fa1e-4a25-96c4-0f6d870175dd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1wK6SSoGfWKHcVnp8_GRLiMADeg182BkvXofaQhWgO9g/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "SUMARIO_EXECUTIVO_AQUI",
              "replaceText": "={{ $json.json.sumario_executivo }}"
            },
            {
              "action": "replaceAll",
              "text": "ANALISE_NUMERICA_AQUI",
              "replaceText": "={{ $json.json.analise_numerica }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "6cf2d22e-b12f-42a8-9d86-c2fd72aff2f6",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "NgljichvWh8VatFv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Update a document\"].json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "id": "130e4202-add7-49d3-96ce-be6671258957",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I0jfoXA5fa9NPRdK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "11FU3lA54-hDf2Rx_X--N1CQMzGupmWl3PlBxW7JUBlY",
          "mode": "id"
        },
        "name": "=PPT Gerado - {{ $json.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        192
      ],
      "id": "dacbd3a0-a45d-4811-a0c6-a8cca77dc34b",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I0jfoXA5fa9NPRdK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $node[\"Copy file\"].json.id }}",
        "textUi": {
          "textValues": [
            {
              "text": "{{nome_processo}}",
              "replaceText": "={{ $json.nome_processo }}"
            },
            {
              "text": "{{descricao_processo}}",
              "replaceText": "={{ $json.descricao_processo }}"
            },
            {
              "text": "{{check_automacao}}",
              "replaceText": "={{ $json.check_automacao }}"
            },
            {
              "text": "{{check_processo}}",
              "replaceText": "={{ $json.check_processo }}"
            },
            {
              "text": "{{check_governanca}}",
              "replaceText": "={{ $json.check_governanca }}"
            },
            {
              "text": "{{tecnologias_propostas}}",
              "replaceText": "={{ $json.tecnologias_propostas }}"
            },
            {
              "text": "{{comentarios_adicionais}}",
              "replaceText": "={{ $json.comentarios_adicionais }}"
            },
            {
              "text": "{{riscos_mapeados}}",
              "replaceText": "={{ $json.riscos_mapeados }}"
            },
            {
              "text": "{{horas_beneficio}}",
              "replaceText": "={{ $json.horas_beneficio }}"
            },
            {
              "text": "{{esforco_semanas}}",
              "replaceText": "={{ $json.esforco_semanas }}"
            },
            {
              "text": "{{custo_projeto}}",
              "replaceText": "={{ $json.custo_projeto }}"
            },
            {
              "text": "{{dinheiro_beneficio}}",
              "replaceText": "={{ $json.dinheiro_beneficio }}"
            },
            {
              "text": "{{check_pp}}",
              "replaceText": "={{ $json.check_pp }}"
            },
            {
              "text": "{{check_p}}",
              "replaceText": "={{ $json.check_p }}"
            },
            {
              "text": "{{check_m}}",
              "replaceText": "={{ $json.check_m }}"
            },
            {
              "text": "{{check_g}}",
              "replaceText": "={{ $json.check_g }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        1168,
        192
      ],
      "id": "f55b4714-b35f-4f33-8f8f-f51a1c5dda87",
      "name": "Replace text in a presentation1",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "2vU1vwKKoOhcVRGt",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Copy file\"].json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        192
      ],
      "id": "1890dd9d-cf50-4d4f-9431-c10258f4828b",
      "name": "Download PPTX Final",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I0jfoXA5fa9NPRdK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5fe72e8-7839-4231-9d20-c10bf7863104",
              "name": "nome_processo",
              "value": "={{ $json.dados_coletados.nome_empresa }}",
              "type": "string"
            },
            {
              "id": "f965c349-dbfa-4952-a574-e008e57ecd66",
              "name": "descricao_processo",
              "value": "={{ $json.dados_coletados.problema_atual }}",
              "type": "string"
            },
            {
              "id": "7ea3c89a-694b-4a2c-9d74-8ccc4ac5ccaa",
              "name": "tecnologias_propostas",
              "value": "tecnologia 1, tecnologia 2",
              "type": "string"
            },
            {
              "id": "8a9637f6-7a04-4bca-8a6b-e280c8732d40",
              "name": "comentarios_adicionais",
              "value": "Processo utiliza Excel e e-mail.",
              "type": "string"
            },
            {
              "id": "9806801f-e51c-4aef-af81-7442dce5be25",
              "name": "riscos_mapeados",
              "value": "={{ $json.dados_coletados.complementary_answer }}",
              "type": "string"
            },
            {
              "id": "e42bb98f-5f8c-4a68-aa82-ce08b5821854",
              "name": "horas_beneficio",
              "value": "~859",
              "type": "string"
            },
            {
              "id": "44e784e7-535c-4ae0-894f-6c06854c4f19",
              "name": "esforco_semanas",
              "value": "XX",
              "type": "string"
            },
            {
              "id": "dbe968b0-c641-4827-94be-29488a7fd0f5",
              "name": "custo_projeto",
              "value": "XX.XXX,XX",
              "type": "string"
            },
            {
              "id": "ee7f9ef0-3464-49ab-b7d5-1b7f7ca50247",
              "name": "dinheiro_beneficio",
              "value": "~XXK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        192
      ],
      "id": "7848134f-e74b-417e-9ee1-f9c8244560b8",
      "name": "preparar dados do PPT"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Organizar Dados Recebidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar Dados Recebidos": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "preparar dados do PPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Replace text in a presentation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in a presentation1": {
      "main": [
        [
          {
            "node": "Download PPTX Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparar dados do PPT": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32f826f5820fec932a7793f5eb135793507e74dd2700c3db02bad3ac0d333a65"
  }
}